<!DOCTYPE html>
<html>
    <head>
        <style>
            .search_bar {position:  relative; float: left;}
            .login_bar {position: relative; float: right;}
            .data_tab {position: static; max-width: 100%; float: left;}
        </style>
    </head>
    <body>
        <div class="search_bar">
            <a href="/restaurant">뒤로가기</a>
        </div>
        <div class="login_bar">
            <a href="/logout">로그아웃</a>
        </div>
        <br>
        <br>
        <div class="data_tab">
            <h2> 내 즐겨찾기 </h2>
            <table border="1">
                <th>음식점</th>
                <th>별점</th>
                <th>지역</th>
                <th>분류</th>
                <th>삭제</th>

                {% for row in books %} 
                <tr>
                    <td>{{ row['restaurant_name']}}</td>
                    <td>{{ row['avg_rating']}}</td>
                    <td>{{ row['location']}} </td>
                    <td>{{ row['category']}} </td>
                    <td><a href="{{ url_for('delete_bookmark', r_name=row['restaurant_name']) }}">삭제</a></td>
                </tr>
                {% endfor %}
            </table>

            <h2> 내가 작성한 리뷰들 </h2>
            <table border="1">
                <th>음식점</th>
                <th>별점</th>
                <th>지역</th>
                <th>분류</th>
                <th>삭제</th>

                {% for row in rows %} 
                <tr>
                    <td>{{ row['u_id']}}</td>
                    <td>{{ row['r_name']}}</td>
                    <td>{{ row['rating']}} </td>
                    <td>{{ row['content']}} </td>
                    <td><a href="{{ url_for('delete_review', r_name=row['r_name']) }}">삭제</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>