<!DOCTYPE html>
<html>
    <head>
        <style>
            .search_bar {position:  relative; float: left;}
            .login_bar {position: relative; float: right;}
            .data_tab {position: static; max-width: 100%; float: left;}
        </style>
    </head>
    <body>
        <div class="search_bar">
            <form action='/restaurant' method="GET">
                Search : <input type="text" name="toSearch">
                <input type="submit" value="검색">
            </form>
        </div>
        <div class="login_bar">
            <a href="/mypage">즐겨찾기/리뷰관리</a> 
            <a href="/logout">로그아웃</a>
        </div>
        <br>
        <br>
        <div class="data_tab">
            <table border="1">
                <th>음식점</th>
                <th>별점</a></th>
                <th>지역</th>
                <th>분류</th>
                <th>리뷰</th>
    
                {% for row in rows %} 
                <tr>
                    <td><a href="{{ url_for('show_review', r_name=row['restaurant_name']) }}">{{row['restaurant_name']}}</a></td>
                    <td>{{ row['avg_rating']}}</td>
                    <td>{{ row['location']}} </td>
                    <td>{{ row['category']}} </td>
                    <td><a href="{{ url_for('add_review', r_name=row['restaurant_name']) }}">추가</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- 로그인알람 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>		
                    alert('{{message}}')
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </body>
</html>